<%- include("partials/header") %>

    <div class="jumbotron">
        <h1 class="display-4">Scoreboard</h1>
        <p class="lead">Keep track of the score with the family scoreboard app</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="/new" role="button">Host a Game</a>
        <a class="btn btn-secondary btn-lg" href="#" role="button">Join a Game</a>
    </div>

<%- include("partials/footer") %>