<%- include("../partials/header") %>

<h1>Host a New Game</h1>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Game Title" aria-label="Game Title">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Host's Name" aria-label="Host's Name">
</div>

  <%- include("../partials/footer") %>